*{
    border: none;
    margin: 0%;
    box-sizing: border-box;
}

.heading{
    background-color: aqua;
}

.main-window{
    display: flex;
    background-color: antiquewhite;
}

.grid-region{
    flex: 3;
    

    height: 90vh;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-main{
    height: 90%;
    min-width: 90%  ;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex:1;
}

.cell{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    flex: 1;
    background-color: red;
}


.settings{
    flex:1;
}

#apply{
    padding: 5%;
    background-color: chartreuse;
}
