*{
    border: none;
    margin: 0%;
    box-sizing: border-box;
}

body{
    
    background-image: linear-gradient(to right, #9e1f63, #392d91);
}
.heading{
    /* background-color: aqua; */
    padding: 2%;
    text-align: center;
    color:rgb(235, 196, 88);
}

.main-window{
    display: flex;   
}

.grid-region{
    flex: 3;
    

    height: 90vh;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-main{
    height: 90%;
    min-width: 70%  ;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(122, 0, 57);
}

.row{
    display: flex;
    flex:1;
}

.cell{
    border-style: solid;
    border-color:rgb(244, 140, 189);
    border-width: 1px;
    flex: 1;
    background-color: rgb(255, 212, 240);
}


.settings{
    flex:2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 10%;
}

.grid-size-setting{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    gap: 20px;
}

.slider-setting{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.color-setting{
    font-size: larger;
    color: rgb(237, 106, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#color-picker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}


#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}


#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}


#grid-value{
    color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
}


#apply{
    padding: 3% 10%;
    border-radius: 10px;
    background-color: rgb(246, 22, 126, 0);
    border-style: solid;
    border-width:medium;
    color: #F64F59;
}


/* #vibrant{
    margin-top: 100%;
} */

.utilities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20%;
    margin-top: 30%;
}

.util{
    border: none;
    border-radius: 5%;
    padding: 5% 7%;
    min-width: 130px;
    background-image: linear-gradient(to right, #12C2E9, #F64F59);
    color:rgb(25, 5, 73) ;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
