*{
    border: none;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #12C2E9, #F64F59);
    background-image: linear-gradient(to right, #9e1f63, #392d91);
}
.heading{
    background-color: aqua;
}

.main-window{
    display: flex;   
}

.grid-region{
    flex: 3;
    

    height: 90vh;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-main{
    height: 90%;
    min-width: 90%  ;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(122, 0, 57);
}

.row{
    display: flex;
    flex:1;
}

.cell{
    border-style: solid;
    border-color:rgb(246, 22, 126);
    border-width: 1px;
    flex: 1;
    background-color: rgb(255, 212, 240);
}


.settings{
    flex:1;
    height: 100vh;
    display: inline-flex;
    gap: 100px;
}


#grid-value{
    color: #c09fb0;
}


#apply{
    padding: 3% 10%;
    border-radius: 10px;
    background-color: rgb(246, 22, 126, 0);
    border-style: solid;
    border-width:medium;
    color: #F64F59;

}
